<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618561465927-u1gcgur5kmucem36mfpnb75ukbklg4mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618561465927-u1gcgur5kmucem36mfpnb75ukbklg4mk</string>
	<key>API_KEY</key>
	<string>AIzaSyDN-ROz-Ul8N88PlPa3Z_UBxX8i_wfk2KY</string>
	<key>GCM_SENDER_ID</key>
	<string>618561465927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meme.com.MemeGenerator</string>
	<key>PROJECT_ID</key>
	<string>memegenerator-b46ec</string>
	<key>STORAGE_BUCKET</key>
	<string>memegenerator-b46ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618561465927:ios:740405c196a3d76746cb62</string>
	<key>DATABASE_URL</key>
	<string>https://memegenerator-b46ec.firebaseio.com</string>
</dict>
</plist>